.title-bg::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5%;
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0);
    z-index: -1;
}
.title-bg {
    position: relative;
}